/*/ GENERAL /*/
h2{font-size: 1.6em;letter-spacing: 4px;text-transform: uppercase}
h1 {margin: 10% auto 0 auto;position:relative;text-transform: uppercase;font-weight: 300;letter-spacing: 5px;width:85%;font-size:1.7em;line-height: 160%}
#h1index {position:absolute; top:-50;left:25%; z-index:-10; width:100%;color:aliceblue}
#bandeau2 h1{margin: 20% auto 0 auto}
h4 {  font-size: 1em; font-weight: normal; font-style: italic;}
button{display: block;margin: 15px auto;background-color: white;border: 1px solid #84B1D8;padding: 5px;color: #1F3D58;}
p {  line-height: 160%; letter-spacing: 1.5px;}
header button {border:0px; color:white; background-color:#4f9ee5; position:absolute;  right: 2%;top: 45%;width:auto;}
button:hover {background-color: #1F3D58;color: white;border:1px solid white;-webkit-transition: background-color .2s ease;
-moz-transition: background-color .2s ease;
-ms-transition: background-color .2s ease;
-o-transition: background-color .2s ease;
transition: background-color .2s ease;}
.scroll {margin: 10% auto;width:50px}
.scroll2 {margin: -10% auto 15% auto;width:50px; display:block}
.scroll3 { position: absolute;z-index: 9999;top: 90%;width:50px;left:49%}
.scroll,.scroll2,.scroll3:hover {opacity: 0.2;transition: all 0.5s;}
.margin-top {margin-top:15% !important}
li,a {text-decoration: none;list-style: none;}
#presentation,#contrat,#finalisation,#conseils,ul#menu, #cssmenu>ul>li,#bandeau,#bandeau4,#bloc_avantage h2,footer li {margin:0 auto;}
.center {text-align: center}
/*/ GENERAL /*/

/*/ MENU /*/
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button {margin-top: 0;padding: 0;border: 0;list-style: none;line-height: 1; display: block;position: relative;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
#cssmenu:after,
#cssmenu > ul:after {content: "."; display: block; clear: both;visibility: hidden;line-height: 0;height: 0;}
#cssmenu #menu-button {display: none;}
#cssmenu {width: auto;line-height: 1;text-align: center; margin-top: 10px;}
ul#menu {width: 80%;}
#cssmenu > ul > li { float: left;width: 20%;letter-spacing: 1.8px;color:#1C3D59;padding-top:2%;}
#cssmenu.align-center > ul {font-size: 0;text-align: center;}
#cssmenu.align-center > ul > li {display: inline-block;float: none;}
#cssmenu.align-center ul ul {text-align: left;}
#cssmenu.align-right > ul > li {float: right;}
#cssmenu.align-right ul ul {text-align: right;}
#cssmenu > ul > li > a {padding-top: 0px;font-size: 12px; text-decoration: none;text-transform: uppercase;color: #000000;-webkit-transition: color .2s ease;-moz-transition: color .2s ease; -ms-transition: color .2s ease; -o-transition: color .2s ease; transition: color .2s ease;}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {color: #009ae1;}
#cssmenu > ul > li.has-sub > a {padding-right: 25px;}
#cssmenu > ul > li.has-sub > a::after {position: absolute;top: 2%;right: 30%;width: 4px;height: 4px;border-bottom: 1px solid #000000;border-right: 1px solid #000000; content: ""; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: border-color 0.2s ease; -moz-transition: border-color 0.2s ease; -ms-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;}
#cssmenu > ul > li.has-sub:hover > a::after { border-color: #009ae1;}
#cssmenu ul ul {position: absolute;left: -9999px;right: 10%;z-index: 2; top: 40px;}
#cssmenu li:hover > ul { left: auto;}
#cssmenu.align-right li:hover > ul {right: 0;}
#cssmenu ul ul ul { margin-left: 100%; top: 0;}
#cssmenu.align-right ul ul ul { margin-left: 0;margin-right: 100%;}
#cssmenu ul ul li { height: 0;-webkit-transition: height .2s ease;-moz-transition: height .2s ease;-ms-transition: height .2s ease;-o-transition: height .2s ease; transition: height .2s ease;}
#cssmenu ul li:hover > ul > li { height: 32px;}
#cssmenu ul ul li a {padding: 10px 20px;width: 160px;font-size: 12px;background: #203D58;text-decoration: none;color: #dddddd; -webkit-transition: color .2s ease; -moz-transition: color .2s ease; -ms-transition: color .2s ease; -o-transition: color .2s ease; transition: color .2s ease;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #203D58;background: #D9DEEE;}
#cssmenu ul ul li.has-sub > a::after {position: absolute;top: 13px;right: 10px;width: 4px;height: 4px;text-align: center; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition: border-color 0.2s ease; -moz-transition: border-color 0.2s ease; -ms-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;}
#cssmenu.align-right ul ul li.has-sub > a::after {right: auto;left: 10px;border-bottom: 0;border-right: 0;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd;}
#cssmenu ul ul li.has-sub:hover > a::after { border-color: #ffffff;}
/*/ MENU /*/

body {font-family: 'Lato', sans-serif;margin:0;text-align:center  }
#logo {width: 100px; position: relative; }
#logoMobile {display:none;}
header {   top:0;position: fixed;z-index: 99999;background-repeat: no-repeat; -moz-background-size: 100% 305%;-o-background-size: 100% 305%; -webkit-background-size: 100% 305%;-ms-background-size: 100% 305%;
    background-size: 100% 305%;
    -moz-border-image: url(img/header.png) 0;
  height: 140px;
background-position: 100% 100%;  width: 100%;
  background-image: url(img/header.png);}

/*/ CONTENT /*/
#bandeau {width:100%;height:100%; overflow: hidden;padding-top:4.5%;}
#bandeau4 {width:100%; overflow: hidden;padding-top:4.5%;background-image: url(img/contact.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;padding-top: 95px;}
.frise {width:98%;height:33.4%;filter: brightness(50%);-webkit-filter: brightness(50%); -moz-filter: brightness(50%); -o-filter: brightness(50%); -ms-filter: brightness(50%); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; margin: 0 auto}
.frise:hover {filter: brightness(100%);-webkit-filter: brightness(100%);-moz-filter: brightness(100%);-o-filter: brightness(100%);-ms-filter: brightness(100%);-webkit-transform: scale(1.005);-moz-transform: scale(1.005);-o-transform: scale(1.005);transform: scale(1.005);}
#concept {background-image: url(img/01.jpg);  background-repeat: no-repeat; background-position: 0% 35%;background-size: cover}
#offres {background-image: url(img/02.jpg);  background-repeat: no-repeat; background-position: 0% 20% ;background-size: cover}
#avantages {background-image: url(img/03.jpg);  background-repeat: no-repeat; background-position: 0% 10%;background-size: cover}
#bandeau2 {background-image: url(img/qsn.jpg);background-repeat: no-repeat;background-size:100%;width:100%;height:65%;background-position:50% 70%;}
#bandeau5 {background-image: url(img/entreprise.jpg);background-repeat: no-repeat;background-size:100%;width:100%;height:350px;  background-position: 0 -65%;background-attachment: fixed}
#bandeau2 h1 {padding:2%;position:absolute; color:white; width:96%; background-color: rgba(0, 0, 0, 0.72);}
.society {width:500px; height:40%;;display:inline-block;margin: 5% 2% 1% 2%}
#bloc_society {width:100%;text-align:center;  margin: 0 auto 8% auto;text-align:center;background-color:aliceblue;}
body>.society {text-align:center;margin: 7% auto 3% auto;  display: block;}
#bloc_society img{width:40%;  padding: 15px;}
#bloc_society .society:nth-child(1) img {width:60%}
#bloc_society .society:nth-child(2) img {width:55%}
.society p {padding: 5px 20px 0px 20px;text-align:justify}
#guillemets {  width: 45%;position: absolute;top: 64%;left: 22%;}
.citation {  width: 20%;background-color:#B8B8B8;height: 1px;opacity: 100;  margin: 25px auto 25px auto;}
.citation2 {  width: 90%;background-color:#B8B8B8;height: 1px;opacity: 100;  margin: 25px auto 25px auto;}

.constat {  width: 100%;overflow: hidden;  margin-top: 10%;margin-bottom: 10%;}
.constat span {display:block;margin:5%; font-size:2em;font-weight:300}
.constat img {width:45%;margin-top: 10%;}
.constat_span {font-size: 1.2em; font-weight: bold; color: #1F3D58; padding-right: 30px;}
.constat p {width: 60%; text-align: justify; margin: 0 auto 5% auto;}
.constat div{width:300px;display:inline-block;  margin-bottom: 5%; margin-top:5%}
#constat {margin-top:-5%}
#constat .div{margin-bottom: 10%;}
#constat h2 {text-transform: none;color:#333;font-size:1.7em;}
#constat h3 {color:#B3B3B3;font-weight: 300;letter-spacing: 1.5px}
#constat h1>strong {text-transform: capitalize}
#constat h2, #constat h3 {margin:0; padding:0; line-height:160%}
#constat p {width:60%; margin: 1% auto 5% auto;text-align: justify}
.constat_solution {width:35% !important;float:left;margin:10% 0 10% 10%;}
.constat_solution p {width:100% !important}
#constat .constat img:nth-child(3) {width:85%}
.constat div>img:hover {opacity:0.5;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transform:scale(1.1);}
.vertical_align{width:100%; margin: 0 auto; font-size: 1em ;padding:2%;display:inline-block}
iframe {display:block; margin:0 auto; width:960px; height :560px}
.vertical_align img{width:40%;}
#tablet {margin:0% 0 1% 0; width:90%}
#offre_tablet p{font-family:"AngelFace";font-size:2.5em;margin:0}
.level {  background-image: url(img/map.png);background-attachment: fixed;margin-bottom: 70px;height:80px}
.level h2{padding:0 !important; line-height:80px; font-weight: 500 !important}
.offre_beclm {width:300px;height:250px; display:inline-block;margin:1px;padding:1%;background-color:#1F3D58;overflow: hidden;vertical-align: top;}
.offre_beclm span {  transform:translateY(100px);transition:all 0.2s linear;-webkit-transform:translateY(100px);-webkit-transition:all 0.2s linear;-moz-transform:translateY(100px);-moz-transition:all 0.2s linear;-o-transform:translateY(100px);-o-transition:all 0.2s linear;-ms-transform:translateY(100px);-ms-transition:all 0.2s linear;color:black;opacity: 0;display:block;letter-spacing: 3.5px;font-weight: normal;margin-top:35px}
.offre_beclm:hover span{opacity:100;transform:translateY(0px);-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);}
.offre_beclm span img{width:10%}
.offre_beclm:hover p{display:none}
.offre_beclm:hover .iconeCLM{width:165px;transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;}
.offre_beclm img {width:150px}
.offre_beclm:hover {  background-color: white;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;}
#bandeau3 {width: 85%;margin: 0% auto 4% auto;overflow: hidden;}
#bandeau3 h2{font-weight:300;padding-top:12%}
#bandeau3 hr{  margin: 2% auto 2% auto;}
#bandeau3 p {  color: white;font-weight: 300;font-size: 90%;letter-spacing: 1px;  width: 90%;margin: 5% auto;   line-height: 110%;}
#bloc_avantage>p,#bandeau3>p {color:black;font-size: 1.3em;margin: 3% auto;width:90%}
/*/ AVANTAGES /*/
#bloc_avantage h2{font-weight: 300;font-size:1.3em;width:60%;text-align: center}
#bloc_avantage hr{width:10%;margin-top:1%}
#bloc_avantage div:first-child {background-image: url(img/map.png);  background-attachment: fixed;padding: 5% 0% 5% 0%;margin-bottom: 70px;}
.avantage img{width:45%;padding:2%;}
.avantage>img {padding: 5% 2% 2% 2%;}
.avantage {margin: 5% 0 7% 0; width:100%;background-color:aliceblue;display:inline-block}
.texte_avantage h3 {float:left;padding-top: 5%;  font-weight: normal;text-transform: uppercase;font-size: 1em;letter-spacing: 1.5px;}
.texte_avantage img{width:15%}
.texte_avantage {width:45%;display:inline-block;text-align: justify;  float: right; margin: 1% 4% 1% 0%;}
#bloc_avantage span {font-weight: bold;}
.check {  width: 3.5% !important;padding: 1% 1% 0% 0% !important;}
/*/ AVANTAGES /*/
/*/ TEMPORAIRE /*/
.temporaire {width: 40%;margin: 10% auto;background-color: rgba(0, 0, 0, 0.63);color:white;padding: 1%;}
.temporaire h1 {margin:2% auto}
.temporaire p{font-size: 0.9em; letter-spacing: 1px;}
.div_temporaire {background-image: url(img/qsn.jpg);background-attachment: fixed;background-size: cover;}
/*/ TEMPORAIRE /*/


/*/ TABLETTE /*/
.demonstration {  position: absolute;top: 85%;color: white; z-index: 999;font-weight: lighter;width: 100%;font-size: 1.5em;}
.demonstration img {width:40px;}
.demonstration span {vertical-align: super;padding: 0px 20px 50px 0px;}
#onglets, #onglets{visibility: hidden;  margin: 0;padding: 10% 0 2% 0;}
#onglets li:nth-child(8), #onglets li:nth-child(9)  {background-color:#4F9EE5;color:white;}
#onglets li,#onglets2 li{position: relative;list-style: none;padding: 15px 15px 15px;margin-right: 5px;cursor: pointer;background-color: aliceblue;z-index: 1;color: white;letter-spacing: 1.3px;font-weight: 300;display: inline-block;color:#151515; font-size:1em;}
#onglets .actif, #onglets2 .actif{border-bottom: none;z-index: 10;background-color:#1F3D58;color:white;}
#contenu{clear: both;position: relative;z-index: 5;top: -16px;background-color: rgba(247, 247, 247, 0.51);width: 100%;overflow: hidden;text-align: center;margin-bottom:5%;visibility:hidden}
.item:nth-child(1) h2 {  margin: 5% auto 2% auto;letter-spacing: 15.5px;font-weight: 400;width: 50%;color:#3D3D3D;}
.item:nth-child(2) p{  width: 20%;text-align: center;display: inline-block;margin: 2%;font-size:1.2em;font-weight: 300;float:none;box-shadow: 0 0 15px 0 #eee;padding:5px}
.tablet1 {width:400px;margin-top:5%}
.item p>img {width:120px}
.item:nth-child(1) img,.item:nth-child(3) img,.item:nth-child(4) img,.item:nth-child(5) img {width:45%;}
.item:nth-child(6) img {width:40%}
.item:nth-child(7) img {width:50%}
.item p {width:35%;text-align: left;float:right;margin-right:10%;  font-size: 1.3em;font-weight: 300;}
.item span {  font-size: 2.2em;color: #323232;font-weight: 300;}
.item:nth-child(1) li {  float: right;margin: 3%;list-style: none;color: #1F3D58;}
.item:nth-child(2) span {  font-weight: bold;text-transform: uppercase;  font-size: 1em;}
.item h2 {  margin: 5% auto 3% auto;letter-spacing: 5.5px;font-weight: 400;width: 85%;color:#3D3D3D;}
.abonnement {  width: 350px;background-color: aliceblue;display: inline-block; margin: 1%;  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);}
.abonnement h3 {text-transform: uppercase;letter-spacing: 5px; font-size:1.5em;color:#4F9EE5}
.abonnement p {font-size:1.2em;margin-top:5% !important}
.abonnement span {font-size:3.5em; font-weight: normal;width:100%;line-height: 300%;color:white}
.item:last-child p {width:85%;text-align:center;float:none; margin:0 auto 2% auto}
.abonnement div {  background-color: rgba(57, 114, 165, 0.45);margin: 8% auto;width:180px;height:180px;border-radius: 50%}
.abonnement button {margin:10% auto; padding:10px 10%; font-size:1.2em; letter-spacing: 2px;display:block; width:55%}
.abonnement .check {width:5% !important}
.paginate {display:none;}
#souscription2 {display:none;}
#souscription {display:block;  width: 60%; margin: 1% auto;}
.item8 p {width:80%; float:none; margin:2% auto 2% auto;text-align: justify;}
.item .infos_contact {width:85%; margin:2% auto;float:none}
#presentation,#contrat,#finalisation,#conseils {  background: url(img/etape.png) no-repeat;width: 100px;height: 100px;display: block;background-size: cover;text-decoration: none;}
#presentation {background-position: 0.1%;}
#conseils {background-position:31.8%}
#contrat {background-position:66.05%;}
#finalisation {background-position:100%}
.container2 a {  text-decoration: none;color: #1F3D58;font-weight: 500;}
#etapes_tablette{ width: 80%;-webkit-animation-name: tablet;/* Chrome, Safari, Opera */ -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */ -webkit-animation-direction: alternate-reverse;-webkit-animation-timing-function: ease-in;animation-name: tablet;animation-duration: 2s;animation-direction: alternate-reverse;animation-timing-function: ease-in; -moz-animation-name: tablet;-moz-animation-duration: 2s;-moz-animation-direction: alternate-reverse;-moz-animation-timing-function: ease-in; margin-top:4%}/* Chrome, Safari, Opera */
@-webkit-keyframes tablet {
    from {margin-top: 4%;}
    to {margin-top: 2%;}
}
@keyframes tablet {
    from {margin-top: 4%;}
    to {margin-top: 2%;}
}
@-moz-keyframes tablet {
    from {margin-top: 4%;}
    to {margin-top: 2%;}
}
.item:nth-child(3),.item:nth-child(4) {background-image: url(img/map.png);background-attachment: fixed;background-size: contain;overflow: hidden;width:100%}
    #cssmenu > ul > li:nth-child(3) {padding-top:0% !important}
/*/ TABLETTE /*/
/*/ CONTENT /*/
/*/ FOOTER /*/
footer {width:100%;background-color:#161616;color:white;text-align: center;margin:0;position:relative} 
footer li{ display: inline-block;list-style: none;margin-left: 20px;margin-right: 20px;vertical-align: middle; height: auto;line-height: 50px;letter-spacing: 2px;font-size: 0.7em;}
footer ul{width: 70%;display: inline;padding-left: 12%;}
footer span {float: right;height: 50px;padding-right: 2%;line-height: 50px;font-size:0.7em;}
/*/ FOOTER /*/
/*/ CONTACT /*/
#contact {margin:7% auto 2% auto; padding-top:0;}
#contact ul {padding:0;margin:0}
form {width:85%; margin:0% auto; background-color:rgba(238, 238, 238, 0.89);padding:30px;overflow: auto}
label,input {display: block;text-align: left;width: 90%;}
label {letter-spacing: 1.5px;}
#message {width:100%; border:none;text-align: center;height:200px}
input,select {border: none;height: 40px;margin-top:10px;text-align:center}
.infos_contact {float:left;width:45%}
.message_contact li {display:inline-block;width:50%}
textarea {margin-top:10px}
select {width:100%;margin-bottom: 20px;}
#contact hr{margin-top:2%;}
#contact p{width: 60%;margin: 2% auto 5% auto;font-size: 0.9em;letter-spacing: 1px;}
#contact h3{  font-size: 1.8em;letter-spacing: 4px;margin: 0;text-transform: uppercase;}
/*/ CONTACT /*/

/*/ SOCIAL /*/
.social {width: 10%;position: absolute;top:16%;left: 87%;}
.social ul {padding: 0;position: absolute;bottom: 17%;left: 33%;}
.social ul li{list-style:none;display:inline-block !important;margin:0 5px !important;}
.social ul li a span{background:url(img/ftr-sprit.png) no-repeat;width:25px;height:25px;display:block;text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li span.twt{background-position:-47px 0px;}
.social ul li span.g{background-position:-71px 0px;}
.social ul li span.twt:hover{background-position:-47px -25px;}
.social ul li span.g:hover{background-position:-71px -25px;}
/*/ SOCIAL /*/
/*/ HOVER INFOS /*/
.frise h2 {opacity: 0; transition: all 0.2s ease-in-out;transform: translateY(-100px); -webkit-transition: all 0.2s ease-in-out;-webkit-transform: translateY(-100px); -moz-transition: all 0.2s ease-in-out;-moz-transform: translateY(-100px);-o-transition: all 0.2s ease-in-out;-o-transform: translateY(-100px);-ms-transition: all 0.2s ease-in-out;-ms-transform: translateY(-100px); text-transform: uppercase;letter-spacing: 0.7em;font-weight: 300;font-size:1.8em;}
.frise p { transform: translateY(100px);-webkit-transform: translateY(100px);-moz-transform: translateY(100px);-o-transform: translateY(100px);-ms-transform: translateY(100px);opacity: 0;transition: all 0.2s linear;-ms-transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;letter-spacing: 3.5px;font-weight: 200;}
hr {width:0px;opacity: 0;transition: all 0.2s ease-in-out;background-color: white;height:1.5px;margin-top:20px;border:none;}
.frise a.info,.frise span{opacity: 0;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out; font-size: 1.5em;letter-spacing: 0.4em;}
.frise:hover h2,.frise:hover p,.frise:hover span,.frise:hover a.info {opacity: 1;transform: translateY(0px);-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);}
.frise:hover hr {opacity:1; width:50%;transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;}
.frise:hover p { transition-delay: 0.1s;-webkit-transition-delay: 0.1s;-moz-transition-delay: 0.1s;-o-transition-delay: 0.1s;-ms-transition-delay: 0.1s;}
.frise:hover a.info { transition-delay: 0.2s;-webkit-transition-delay: 0.2s;-moz-transition-delay: 0.2s;-ms-transition-delay: 0.2s;-o-transition-delay: 0.2s;}
.infos {  padding-top: 2%;margin-right: 5%;float: right;text-align: center;color:white;}
#offres .infos {float: left;margin-left:5%}
.frise p>img {width:7%}
/*/ HOVER INFOS /*/

.container{ width:100%; height:113%;position:relative; overflow: hidden; margin-top: 2%;}
.container2{width:100%; position:relative; padding-top:2%;margin-top: -5%;}
.photo{position:absolute; animation:round 16s infinite;-webkit-animation:round 16s infinite;;opacity:0;width:100%;left:0;margin-top: -5%;}

@keyframes round{ 
    25%{opacity:1;}
    40%{opacity:0;}} 
img:nth-child(4){animation-delay:0s;}
img:nth-child(3){animation-delay:4s;}
img:nth-child(2){animation-delay:8s;}
img:nth-child(1){animation-delay:12s;}


@-webkit-keyframes round{ 
    25%{opacity:1;}
    40%{opacity:0;}} 
img:nth-child(4){-webkit-animation-delay:0s;}
img:nth-child(3){-webkit-animation-delay:4s;}
img:nth-child(2){-webkit-animation-delay:8s;}
img:nth-child(1){-webkit-animation-delay:12s;}

/* POP UP */
.overlay {position: fixed;top: 0; bottom: 0;left: 0;right: 0; width:100%; height:100%;background: rgba(0, 0, 0, 0.7);transition: opacity 500ms;visibility: hidden;opacity: 0;  overflow: auto;}
.overlay:target {visibility: visible;opacity: 1;}
.popup {margin: 70px auto;padding: 20px;background: #fff;border-radius: 5px;width: 70%;position: relative;transition: all 5s ease-in-out; background-image: url(img/map.png);}
.content .infos_contact {width:95%}
.content label {text-align: center}
.content button {position:relative}
.content img {  width: 100%;
  margin: 10% auto 10% auto;}
.content p{width:90%;text-align: justify;float:none;margin:0;}
.popup .close {position: absolute;top: 20px;right: 30px;transition: all 200ms;font-size: 30px;font-weight: bold;text-decoration: none;color: #333;}
.popup .close:hover {color: aliceblue;}
.popup .content {max-height: 30%;overflow: auto;}
@media screen and (max-width: 700px){
  .popup{ width: 70%;}
}
/* POP UP */